<div class="main">
  <div class="profile-header">
  <div class="profile-links a">
    <a href="/about">About</a>
    <a href="/brands">Brands</a>
    <a href="/payments">Payment & Delivery</a>
    <a href="/plp-articles">Articles</a>
<!--    <a href="/contacts">Contacts</a>-->
  </div>
</div>
<div class="profile-line"></div>
<div class="logo-search-container">
  <a href="/">
    <img class="logo" src="assets/Logo1.svg" width="80" height="80" alt="">
  </a>
<app-search-component></app-search-component>

  <div class="text-end">
    <a href="/login">
    <img class="icon-1"  src="assets/icons/Icon1.svg" alt="">
    </a>
    <img class="icon-2" src="assets/icons/Icon2.svg" alt="">
    <a href="/">
    <img class="icon-3" src="assets/icons/Icon3.svg" alt="">
    </a>
    <a href="/cart">
    <img class="icon-4" src="assets/icons/Icon5.svg" alt="">
    </a>
  </div>
</div>
<div class="profile-line"></div>
<div class="profile-links b categories">
  <a href="/plp-wine">Wine</a>
  <a href="/plp-rum">Rum</a>
  <a href="/plp-whiskey">Whiskey</a>
  <a href="/plp-liqueur">Liqueur</a>
  <a href="/plp-tequila">Tequila</a>
</div>
<div class="profile-line"></div>
</div>
