<ng-container>
  <h1>Payment & Delivery</h1>
  <div class="card-container">
  <div class="card">
  <img src="assets/payments/Icon1.svg" alt="Delivery Icon">
  <h2>"Nova Poshta" Delivery</h2>
  <p>Kharkiv - courier delivery to the entrance or (upon your request) to the door.
    Across Ukraine - address delivery. Delivery to any "Nova Poshta" branch.</p>
</div>
<div class="card">
  <img src="assets/payments/Icon2.svg" alt="Delivery Icon">
  <h2>Pickup</h2>
  <p>You can personally pick up your order at one of our stores
    Mon-Fri 08:00-21:00
    Sat-Sun 08:00-18:00. No days off.</p>
</div>

<div class="card">
  <img src="assets/payments/Icon3.svg" alt="Delivery Icon">
  <h2>Delivery "Dionysus"</h2>
  <p>For orders over 1000 ₴ (excluding promotional items), delivery is free.</p>
  <p>The cost of delivery within Kharkiv is 70 ₴.</p>
</div>
<div class="card">
  <img src="assets/payments/Icon4.svg" alt="Delivery Icon">
  <h2>Card Payment on Website</h2>
  <p>Card payment is the fastest and most secure method of payment.
    Visa and MasterCard cardholders can pay for their orders online on the website.</p>
</div>
<div class="card">
  <img src="assets/payments/Icon5.svg" alt="Delivery Icon">
  <h2>Cash on Delivery</h2>
  <p>When selecting a delivery service,
    you can choose to pay for your order in cash or by card upon receiving the goods.</p>
</div>
<div class="card">
  <img src="assets/payments/Icon6.svg" alt="Delivery Icon">
  <h2>Payment Options</h2>
  <p> When picking up your order from our store,
    you can pay for the order in cash or by card upon receiving it.
  </p>
</div>
  </div>
</ng-container>

<div class="background-images">
  <div class="left-image">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <image xlink:href="assets/background1.svg" width="100%" height="100%" />
    </svg>
  </div>
  <div class="right-image">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <image xlink:href="assets/background2.svg" width="100%" height="100%" />
    </svg>
  </div>
</div>
