<div class="delivery-block">
  <ul class="delivery-list">
    <h2 class="delivery-header">Delivery</h2>
    <li >
      <img class="delivery-icon" ngSrc="assets/delivery/img2.svg" height="30" width="30" alt="...">
      "Nova Poshta" Delivery
    </li>
    <li>
      <img class="delivery-icon" ngSrc="assets/delivery/img1.svg" height="35" width="35" alt="...">
      Pickup
    </li>
    <li>
      <img class="delivery-icon" ngSrc="assets/delivery/img3.svg" height="35" width="35" alt="...">
      Dionysus Delivery
    </li>
    <h2 class="delivery-header">Payment</h2>
    <li >
      <img class="delivery-icon" ngSrc="assets/delivery/img4.svg" height="30" width="30" alt="...">
      Card Payment on Website
    </li>
    <li>
      <img class="delivery-icon" ngSrc="assets/delivery/img5.svg" height="35" width="35" alt="...">
      Cash on Delivery
    </li>
    <li>
      <img class="delivery-icon" ngSrc="assets/delivery/img6.svg" height="35" width="35" alt="...">
      Payment Options
    </li>
  </ul>
</div>
