<ng-container>
  <div class="image-block">
    <img src="assets/contacts/Map.png" alt="Map" class="map-image">
  </div>
  <div class="contact-container">
    <div class="info-block">
      <div class="info-text">
        <h3><img src="assets/contacts/ico1.svg" alt="Address Icon" class="icon">Address</h3>
        <p class="address">15 Mironovska Street, Kharkiv, Ukraine</p>
      </div>
    </div>
    <div class="info-block">
      <div class="info-text">
        <h3><img src="assets/contacts/ico2.svg" alt="Phone Icon" class="icon">Phone</h3>
        <p class="address">0 800 41 79 63</p>
      </div>
    </div>
    <div class="info-block">
      <div class="info-text">
        <h3><img src="assets/contacts/ico3.svg" alt="Email Icon" class="icon">Email</h3>
        <p class="address">dionysus@gmail.com</p>
      </div>
    </div>
    <div class="info-block">
      <div class="info-text">
        <h3><img src="assets/contacts/ico4.svg" alt="Working Hours Icon" class="icon">Working Hours</h3>
        <p class="schedule">Mon-Fri: 8 AM - 9 PM<br>Sat-Sun: 8 AM - 6 PM (No days off)</p>
      </div>
    </div>
  </div>
</ng-container>
<app-background></app-background>
