<div class="carousel-container">
  <div class="svg-left">
    <img src="assets/icons/c1.svg">
  </div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Group2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Group1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Group3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden-focusable">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="svg-right">
    <img src="assets/icons/c2.svg">
  </div>
</div>
<div>
  <h1 class="text-1">New wine releases</h1>
  <app-wine-component></app-wine-component>
  <h1 class="text-2">New whiskey releases</h1>
<app-whiskey-component></app-whiskey-component>
</div>
<div class="image-container">
  <img src="assets/r1.svg" alt="...">
  <span class="view-button">View</span>
</div>

<div class="block">
  <div class="left-image">
    <img src="assets/glasses.png" alt="..." />
  </div>
  <div class="content">
    <div class="background">
      <div class="svg-image">
        <img src="assets/t2.svg" alt="..." />
      </div>
      <div class="text-overlay">
        <h3>Dionysus</h3>
        <p>Our team selects products from the best global manufacturers on a daily basis. We explore new wine varieties and types of spirits, so that by browsing our store catalog, you can choose something that perfectly matches your mood and taste preferences.</p>
        <p>Every customer can independently verify the authenticity of the beverages. High-quality photos of actual products from our warehouse allow you to examine the back labels in detail and check each drink. Selling top-quality alcoholic products from world-renowned brands with a guarantee of quality is our unwavering rule.</p>
      </div>
    </div>
  </div>
</div>
